body {
  font-family: American Typewriter, Haettenschweiler, "Arial Narrow Bold",
    sans-serif;
  font-size: 20px;
}

.app {
  width: 80%;
  margin: auto 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.game {
  border: 5px black solid;
  border-radius: 5px;
  margin: auto;
  width: fit-content;
}

.new-game-button {
  border: 5px pink solid;
  background-color: rgb(255, 221, 226);
  color: rgb(216, 99, 119);
  border-radius: 10px;
  font-family: inherit;
}

.start-screen-button {
  width: 500px;
  height: 100px;
  font-size: 2.5em;
  margin: auto;
  display: block;
}

.end-screen-button {
  width: 300px;
  height: 60px;
  font-size: 1.2em;
  margin-left: calc(50% - 150px);
}

.ingame-button {
  width: 100px;
  vertical-align: top;
  margin-top: 20px;
  margin-right: 20px;
  float: right;
}

.display-letter {
  display: inline;
  width: 10%;
}

.word-display {
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  text-align: center;
  font-size: 2em;
  padding: 25% 0;
  margin-left: 10px;
  width: 300px;
}

.score {
  display: inline-block;
  margin: 10px;
  margin-left: 20px;
}

.score-text {
  text-align: right;
  font-weight: normal;
  margin-bottom: 5px;
  margin-top: 10px;
}

.emoji {
  font-size: 10em;
  text-align: center;
  margin: 10px;
}

.colour-text {
  color: rgb(216, 99, 119);
}
