body {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.game-box {
  width: 75%;
  margin: auto 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.new-game-button {
  border: 5px red solid;
  border-radius: 10px;
  font-family: inherit;
}

.large {
  width: 500px;
  height: 100px;
  font-size: 50px;
  margin: auto;
  display: block;
}

.medium {
  width: 300px;
}

.small {
  width: 200px;
}
