body {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.app {
  width: 75%;
  margin: auto 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.game {
  border: 5px black solid;
  margin: auto;
  width: fit-content;
}

.new-game-button {
  border: 5px red solid;
  border-radius: 10px;
  font-family: inherit;
}

.large {
  width: 500px;
  height: 100px;
  font-size: 50px;
  margin: auto;
  display: block;
}

.medium {
  width: 300px;
}

.small {
  width: 200px;
}

.letter-button {
  border: none;
  font-family: inherit;
  font-size: 40px;
  background: none;
  padding: 0 10px;
}

.display-letter {
  display: inline;
}