:root {
  --cell-size: 125px;
  --font-height: 20px;
  --cell-font-height: 50px;
  --cell-rounding: 70px;
}

body {
  font: var(--font-height) "Century Gothic", Futura, sans-serif;
  margin: 20px auto;
  padding: 10px;
  border: 2px black solid;
  border-radius: 10px;
  width: fit-content;
}

ol,
ul {
  padding-left: 30px;
  margin-bottom: 0px;
  margin-top: 10px;
}

.game-board {
  margin: auto;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  text-align: center;
  margin-top: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  border-radius: var(--cell-rounding);
  float: left;
  font-size: var(--cell-font-height);
  font-weight: bold;
  line-height: var(--cell-size);
  height: var(--cell-size);
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: var(--cell-size);
}

.square:hover {
  background: rgb(232, 232, 232);
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.winning-cell {
  background-color: rgb(190, 255, 187);
}

.time-travel-button {
  background-color: rgb(217, 241, 249);
  font-size: var(--font-height);
  border: 2px rgb(156, 228, 255) solid;
  border-radius: 3px;
  text-decoration: none;
  margin-bottom: 3px;
}

.time-travel-button:hover {
  background-color: rgb(176, 213, 225);
  border: 2px rgb(133, 195, 218) solid;
}
